  body{
    margin:400px;
  }

  .container {

    display: inline-grid;
    grid-template-rows: repeat(100, 10px);
    grid-template-columns: repeat(98,10px);

    border: 10px solid #0f172a;
  }
  



/* Line IDs */

  .blue-line-b{
    grid-area: 1 / 1 / 4 /100;
    background-color: #3ba0ff;
  }
  .yellow-line-b{
    grid-area: 22 / 1 / 24 /100;
    background-color: #ffeb38;
  }
  .orange-line-b{
    grid-area: 56 / 1 / 58 /100;
    background-color: #ffae35;
  }
  .red-line-b{
    grid-area: 80 / 1 / 82 /100;
    background-color: #f04040;
  }

  /* Box IDs */

  .black-box-1-b{
    grid-area: 4 / 1 / 22 /24;
    background-color: #000000;
  }
  .black-box-2-b{
    grid-area: 4 / 89 / 22 /100;
    background-color: #000000;
  }
  .black-box-3-b{
    grid-area: 58 / 89 / 80 / 100;
    background-color: #000000;
  }
  .black-box-4-b{
    grid-area: 82 / 1 / 101 / 30;
    background-color: #000000;
  }


  .yellow-box-1-b{
    grid-area: 4 / 46 / 22 /67;
    background-color: #ffeb38;
  }
  .yellow-box-2-b{
    grid-area: 24 / 24 / 56 /46;
    background-color: #ffeb38;
  }
  .yellow-box-3-b{
    grid-area: 82 / 24 / 101 /46;
    background-color: #ffeb38;
  }

  .orange-box-b{
    grid-area: 82 / 70 / 101 /46;
    background-color: #ffa238;
  }


  .blue-box-1-b{
    grid-area: 4 / 67 / 22 /89;
    background-color: #3ba0ff;
  }
  .blue-box-2-b{
    grid-area: 56 / 67 / 24 /89;
    background-color: #2c5bda;
  }
  .blue-box-3-b{
    grid-area: 58 / 67 / 80 /89;
    background-color: #2c5bda;
  }


  .red-box-1-b{
    grid-area: 58 / 67 / 82 /46;
    background-color: #f04040;
  }
  .red-box-2-b{
    grid-area: 58 / 1 / 82 /24;
    background-color: #f04040;
  }
  .red-box-3-b{
    grid-area: 80 / 80 / 101 / 100;
    background-color: #f04040;
  }
  .red-box-4-b{
    grid-area: 24 / 89 / 56 / 100;
    background-color: #f04040;
  }


  .pink-box-1-b{
    grid-area: 24 / 67 / 56 /46;
    background-color: #f8d6ff;
  }
  .pink-box-2-b{
    grid-area: 58 / 46 / 80 /24;
    background-color: #f8d6ff;
  }


  .green-box-1-b{
    grid-area: 24 / 24 / 56 /1;
    background-color: #2aaf52;
  }
  .green-box-2-b{
    grid-area: 82 / 89 / 101 /67;
    background-color: #2aaf52;
  }