:root {
  --clr-dark: #0f172a;
  --clr-light: #f1f5f9;
  --clr-accent: #e11d48;
}


body {
  body{
    margin:400px;
  }
}

.container2 {

  display: inline-grid;
  grid-template-rows: repeat(100, 10px);
  grid-template-columns: repeat(100,10px);
  grid-auto-rows: 100px;

  border: 10px solid #0f172a;
}


  /* Yellow Box IDs */

  .cell-1{
    grid-row: span 10;
    grid-column: span 10;
    border: 5px solid #000000;
    background-color: #fff134;
  }

  .cell-2{
    grid-row: span 10;
    grid-column: span 10;
    border: 5px solid #000000;
    background-color: #34bfff;
  }

  .cell-3{
    grid-row: span 10;
    grid-column: span 10;
    border: 5px solid #000000;
    background-color: #ff8f34;
  }

  .cell-4{
    grid-row: span 10;
    grid-column: span 10;
    border: 5px solid #000000;
    background-color: #b9b9b9;
  }

